@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

@font-face {
  font-family: Marvel;
  src: url(./font/Marvel.ttf);
}

:root {
  --marvelRed: #ed1d24;
  --line: transparent;
  --line-active: #275efe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(./img/comics.png);
}

body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(transparent, var(--marvelRed) 90%);
  min-height: 100vh;
  max-width: 100vw;
  color: white;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* ------------ Components ------------ */

header {
  display: flex;
  margin: 1em 1em 0em;
  justify-content: flex-start;
}

header img {
  width: 300px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  position: absolute;
  top: 80vh;
  left: 50vw;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  z-index: -1;
}

/* ------------ Navbar ------------ */

nav {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 0.5px solid black;
}

.navbar button {
  color: var(--marvelRed);
  background-color: transparent;
  border: none;
  font-family: Marvel;
  text-transform: uppercase;
  text-decoration: none;
  transition: margin 0.25s;
  transition: ease 250ms all;
  font-size: 42px;
  height: 42px;
  line-height: 50px;
  margin: 0;
}

.navlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar button:focus,
.navbar button:active {
  transition: ease 250ms all;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
  outline: none;
  text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000,
    4px 4px #000000, 5px 5px #000000, 6px 6px #000000;
}

/* ------------ Search ------------ */

.search {
  height: 100px;
}

input[type="text"] {
  display: flex;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: auto;
  outline: none;
  border-radius: 10px;
}

/* ------------ Cards ------------ */

.card-container {
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
  max-width: max-content;
  border-radius: 1em;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  width: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: top center;
  border-radius: 1em;
  border: 0.5px solid black;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: var(--marvelRed);
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0px;
  border-radius: 1em;
  border: 0.5px solid black;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent on cards*/
}

.card li {
  list-style: none;
  padding-bottom: 10px;
  overflow: hidden;
}

.menu svg {
  position: absolute;
  top: 0px;
  right: 4px;
  height: 42px;
  width: 42px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.active {
  color: blue !important;
}

/* ------------ Media Queries ------------ */

/* Desktop */
@media only screen and (min-width: 481px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .navlist {
    display: flex;
    flex-direction: row;
  }
  .menu svg {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .navlist {
    display: flex;
    flex-direction: column;
  }
  .navbar li {
    border: 1px solid black;
    justify-content: flex-start;
    padding-left: 4px;
  }
  input[type="text"] {
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
  }
  .closed > li,
  .closed > input[type="text"] {
    display: none;
  }
}